<div class='container'>
     <div class='window'>
       <div class='overlay'></div>
       <div class='content'>
         <div class='welcome'>Light Cats<br><br>Form</div>
         <form action="accessories/update/:id" method='PUT' #adminform='ngForm' novalidate (ngSubmit)="onSubmit()">
         
         <div class='input-fields'>
           <!--  -->
           <input  #name="ngModel" [(ngModel)]="Accessories.name"  type='text'  class='input-line full-width'  value={{Accessories.name}} name="name"  placeholder="name">
         
         
    
         
          <input  #color="ngModel" [(ngModel)]="Accessories.color"  type='text' class='input-line full-width' value={{Accessories.color}} name="color" placeholder="color">
          <input  #price="ngModel" [(ngModel)]="Accessories.price" type='number' class='input-line full-width' value={{Accessories.price}} name="price" placeholder="price">
         
          <input  #images="ngModel" [(ngModel)]="Accessories.images"  type='text'  class='input-line full-width' value={{Accessories.images}} name="images" placeholder="images">
       
         </div>
       
         <div><button  type="submit" class='ghost-round full-width'>Edit</button></div>
         </form>
       </div>
     </div>
   </div>



