<button type="button" class="btn btn-info" style=" width: 100px; margin:10px 10px 10px 10px;" routerLink="/">Back</button>
<form class="form-group" style="margin-top: 50px;margin-left: 80px;">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Find your pet..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button"  (click)="search(searchInput.value)">Search</button>
    </div>
  </div>
 
</form>
<i class="fas fa-sync" style="color:silver; font-size: 28px;" (click)="on_click()"> sort by price</i>

<div class="container-fluid padding random">
  <div class="row padding" *ngIf="!start_sort">
    <div class="col-md-4" *ngFor="let heavy of smallpet |paginate:config">
      <div class="card">
        
        <div class="card-body" >
          <img class="card-img-top" src="{{heavy.images[0]}}">
          <h2>{{heavy.name}}</h2>
          <p class="d-block small ">{{heavy.price}} EGP</p>
          <a class="btn btn-outline-secondary"  (click)="showdetails(heavy)" >More details</a>
        </div>
      </div>
      
    </div>
   
  </div>
</div> 
 <div class="container-fluid padding random">
  <div class="row padding" *ngIf="start_sort">
    <div class="col-md-4" *ngFor="let normal of sortpet |paginate:config">
      <div class="card">
        
        <div class="card-body" >
          <img class="card-img-top" src="{{normal.images[0]}}">
          <h2>{{normal.name}}</h2>
          <p class="d-block small ">{{normal.price}} EGP</p>
          <a class="btn btn-outline-secondary" (click)="showdetails(normal)">More details</a>
        </div>
      </div>
      
    </div>
   
  </div>
</div>

<!-- 

<br>
<br>
<br>
<form class="form-group" style="margin-top: 50px;margin-left: 80px;">
  <input class="form-control" style="width: 300px;height: 55px;" type="search" placeholder="Search...."
    aria-label="Search" #searchInput>
  <button class="btn draw-border" style="margin-left: 310px;margin-top: -70px;" type="submit"
    (click)="search(searchInput.value)">Search</button>
</form>
<i class="fas fa-sync" style="color:silver; font-size: 28px;" (click)="on_click()"> sort by price</i>



<div class="container contstyle" *ngIf="!start_sort">
  <div class="row ">
    <div class="col-sm-12 col-md-4 my-3 workItem show-workItem " *ngFor="let heavy of smallpet |paginate:config" (click)="showdetails(heavy)" >
      <div class="img-container m-0 p-0 shadow-sm ">
        <img src="{{heavy.images[0]}}" class="img-center img-fluid img-showcase" style="width: 350px;height: 250px;">
        <div class="overlay d-flex flex-column align-items-center justify-content-center">
          <h2>{{heavy.name}}</h2>
          <p class="d-block small ">{{heavy.price}} EGP</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sort -->
<div class="container contstyle" *ngIf="start_sort">
  <div class="row">
    <div class="col-sm-12 col-md-4 my-3 workItem show-workItem catB" *ngFor="let normal of sortpet |paginate:config" (click)="showdetails(normal)">
      <div class="img-container m-0 p-0 shadow-sm">
        <img src="{{normal.images[0]}}" class="img-center img-fluid img-showcase" style="width: 350px;height: 250px;">
        <div class="overlay d-flex flex-column align-items-center justify-content-center">
          <h2>{{normal.name}}</h2>
          <p class="d-block small ">{{normal.price}} EGP</p>
        </div>
      </div>
    </div>
  </div>
</div>
   -->
<pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">

      <div class="custom-pagination">
          <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
              <div *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
              </div>
          </div>
          
      </div>  
      
    </pagination-template>

  
  

  

