img{
    height: 300px;
}
h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 30px;
    text-align: center;
    color: blue;

}
a{
    /* text-align: center; */
    font-size: 21px;
    text-align: justify;
}