<div class="row">
    <div class="col-sm-3">
 
    <div class="card">
       
        <img src="/assets/asma.jpg" class="rounded-circle" alt="Cinque Terre">
        <div class="card-body">
            
          <h1 class="card-title">Asmaa Ahmed</h1>
          <br>
          <p>Web developer</p>
          <br>
          <p class="card-text">Team Leader</p>
          <br>
          <p>01129650520</p>
          <br>
          <a href="asmaaaahmed23762@@gmail.com" class="card-link">asmaaaahmed23762@@gmail.com</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            
        <img src="/assets/amira.jpg" class="rounded-circle" alt="Cinque Terre">
      
            <div class="card-body">
              <h1 class="card-title">Amira Saber</h1>
              <br>
              <p>Web developer</p>
               <br>
              <p class="card-text">Team Member</p>
              <br>
              <p>01555003531</p>
              <br>
              <a href="amiramahana.x96@gmail.com" class="card-link">amiramahana.x96@gmail.com</a>
              
            </div>
           </div>
        </div>
    <div class="col-sm-3">
         <div class="card">
            
        <img src="/assets/nahla.jpg" class="rounded-circle" alt="Cinque Terre">
        
              <div class="card-body">
                <h1 class="card-title">Nahla Barakat</h1>
                <br>
                <p>Web developer</p>
                <br>
                <p class="card-text">Team Member</p>
                <br>
                <p>01158949048</p>
                <br>
                <a href="nahlabarakat23@gmail.com" class="card-link">nahlabarakat23@gmail.com</a>

               
              </div>
           
            </div>
            </div>
    <div class="col-sm-3"> 
         <div class="card">
            
        <img src="/assets/tahany.jpg" class="rounded-circle" alt="Cinque Terre">
        
              <div class="card-body">
                <h1 class="card-title">Tahany Mohammed</h1>
                <br>
                <p>Web developer</p>
                <br>
                <p class="card-text">Team Member</p>
                <br>
                <p>01026493533</p>
                <br>
                <a href="mtahany615@gmail.com" class="card-link">mtahany615@gmail.com</a>

              
              </div>
           
            </div>
        </div>
  </div>

