<app-dashboard-navbar></app-dashboard-navbar>
<br>
<div class='container'>
    
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      
      <div class='welcome'>normal dogs <br><br> Form</div>
      <form action="/normaldogs/adddog" method="POST" #adminform='ngForm' novalidate (ngSubmit)="onSubmit()">
      <div class='input-fields'>
        <input type='text' placeholder='name' name="name" class='input-line full-width' #name="ngModel" [(ngModel)]="dogModel.name">
        <input type='text' placeholder='size' name="size" class='input-line full-width' #size="ngModel" [(ngModel)]="dogModel.size">
        <input type='number' placeholder='life_span' name="life_span" class='input-line full-width' #life_span="ngModel" [(ngModel)]="dogModel.life_span">
        <input type='number' placeholder='weight' name="weight" class='input-line full-width' #weight="ngModel" [(ngModel)]="dogModel.weight">
        <input type='text' placeholder='color' name="color" class='input-line full-width' #color="ngModel" [(ngModel)]="dogModel.color">
        <input type='number' placeholder='price' name="price" class='input-line full-width' #price="ngModel" [(ngModel)]="dogModel.price">
        <input type='text' placeholder='temperament' name="temperament" class='input-line full-width' #temperament="ngModel" [(ngModel)]="dogModel.temperament">
        <input type='text' placeholder='pet image' name="images" class='input-line full-width' #images="ngModel" [(ngModel)]="dogModel.images[0]">
        <input type='text' placeholder='pet image' name="images" class='input-line full-width' #images="ngModel" [(ngModel)]="dogModel.images[1]">
        <input type='text' placeholder='pet food ' name="images" class='input-line full-width' #images="ngModel" [(ngModel)]="dogModel.images[2]">
        <input type='text' placeholder='pet accessory ' name="images" class='input-line full-width' #images="ngModel" [(ngModel)]="dogModel.images[3]">
      </div>
      <!-- <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div> -->
      <button type="submit"  class='ghost-round full-width ' >save</button>
    </form>
    </div>
  </div>

</div>
