<div class='container'>
        
      <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
          
          <div class='welcome'>heavy birds<br><br> Form</div>
          <form action="/heavybirds/update/:id" method="PUT" #adminform='ngForm' novalidate (ngSubmit)="onSubmit()">
          <div class='input-fields'>
            <input type='text'  name="name" class='input-line full-width' #name="ngModel" [(ngModel)]="bird.name" value="{{bird.name}}">
            <input type='text'  name="size" class='input-line full-width' #size="ngModel" [(ngModel)]="bird.size" value="{{bird.size}}">
            <input type='number'  name="life_span" class='input-line full-width' #life_span="ngModel" [(ngModel)]="bird.life_span" value="{{bird.life_span}}">
            <input type='number'  name="weight" class='input-line full-width' #weight="ngModel" [(ngModel)]="bird.weight" value="{{bird.weight}}">
            <input type='text'  name="color" class='input-line full-width' #color="ngModel" [(ngModel)]="bird.color" value="{{bird.color}}">
            <input type='number'  name="price" class='input-line full-width' #price="ngModel" [(ngModel)]="bird.price" value="{{bird.price}}">
            <input type='text'  name="temperament" class='input-line full-width' #temperament="ngModel" [(ngModel)]="bird.temperament" value="{{bird.temperament}}">
            <input type='text'  name="images" class='input-line full-width' #images="ngModel" [(ngModel)]="bird.images[0]" value="{{bird.images[0]}}">
              <input type='text'  name="images" class='input-line full-width' #images="ngModel" [(ngModel)]="bird.images[1]" value="{{bird.images[1]}}">
              <input type='text'  name="images" class='input-line full-width' #images="ngModel" [(ngModel)]="bird.images[2]" value="{{bird.images[2]}}">
              <input type='text'  name="images" class='input-line full-width' #images="ngModel" [(ngModel)]="bird.images[3]" value="{{bird.images[3]}}">
          </div>
          <!-- <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div> -->
          <button type="submit"  class='ghost-round full-width ' >Edit</button>
        </form>
        </div>
      </div>
      
      </div> 
          