   
     
<nav class="menu" *ngIf="nav.visible">
  <ol>
    <a routerLink="/"> <li class="menu-item"style=' color:white;font-size:24px' class='fas'>&#xf015;</li></a>
    
    
    <li class="menu-item">
      
      <a >Cats</a>
      <ol class="sub-menu">
        <li class="menu-item"><a routerLink="/all-cats">All</a></li>
        <li class="menu-item"><a routerLink="/light-cats">Light cats</a></li>
        <li class="menu-item"><a routerLink="/normal-cats">Medium cats</a></li>
        <li class="menu-item"><a routerLink="/heavy-cats">Heavy cats</a></li>
        
        
      </ol>
    </li>
    
    <li class="menu-item">
      <a >Dogs</a>
      <ol class="sub-menu">
        <li class="menu-item"><a routerLink="dogs/alldogs">All</a></li>
        <li class="menu-item"><a routerLink="dogs/lightdogs">light dogs</a></li>
        <li class="menu-item"><a routerLink="dogs/normaldogs">Medium dogs</a></li>
        <li class="menu-item"><a routerLink="dogs/heavydogs">Heavy dogs</a></li>
        
        
        

      </ol>
    </li>
  
    <li class="menu-item">
      <a >Birds</a>
      <ol class="sub-menu">
        <li class="menu-item"><a routerLink="/all-birds">All</a></li>
        <li class="menu-item"><a routerLink="/light-birds">Light birds</a></li>
        <li class="menu-item"><a routerLink="/normal-birds">Medium birds
        </a></li>
        <li class="menu-item"><a routerLink="/heavy-birds">Heavy birds</a></li>
        
        
        
      </ol>
    </li>
    
    <li class="menu-item">
      <a href="#0">Small pets</a>
      <ol class="sub-menu">
        <li class="menu-item"><a routerLink='smallpets/all'>All</a></li>
        <li class="menu-item"><a routerLink='smallpets/light'>Light pets</a></li>
        <li class="menu-item"><a routerLink='smallpets/normal'>Mediun pets</a></li>
        <li class="menu-item"><a routerLink='smallpets/heavy'>Heavy pets</a></li>
        
      </ol>
    </li>
    <li class="menu-item"><a routerLink="/accessories">Accssesories</a></li>
   
    <li class="menu-item">
      <a class="menu-item" routerLink="/user/Login"><i class="fas fa-user-plus" style="font-size: 20px;"></i></a>
    </li>
    <li class="menu-item"><a routerLink="/adminlogin"><i class="fas fa-cogs" style="font-size: 25px;"></i></a></li>
    <li class="menu-item" *ngIf='cartInfo.totalQuantity>0'>
      <a class="menu-item ml-n2 deep-purple lighten-1 btn-small btn-floating" style="margin-top: 60px;">{{cartInfo.totalQuantity}}</a>
    </li>
    <li class="menu-item"><a routerLink="/cart"><i class="fas fa-cart-plus" style="font-size: 20px;"></i></a></li>
    <li class="menu-item"><a routerLink="/wishlist"><i class="far fa-heart" style="font-size: 20px;"></i></a></li>
  </ol>
  
</nav>
<br>
